# Python virtual environments
env/
venv/
.venv/
.env/

# Environment variable files
.env
.env.*
!.env.example

# Python cache files
__pycache__/
*.py[cod]

# Idea files
.idea/
*.xml
.DS_Store

# Local SQLite dev database
db.sqlite3
